@import '../components/Defaults.css';

.telemetry-container {
    background-color: var(--ghost);
    display: grid;
    /* width: calc(100% - var(--padding) - 0.5rem); */
    width: calc(100%);
    /* height: calc(100% - var(--padding) - 0.5rem); */
    /* height: calc(100% - var(--padding-tiny) - 1rem); */
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;

    margin: 0;
    padding: 0;
    border-radius: var(--border-radius-small);
    /* margin-bottom: 10px; */
    /* background-color: darkgray; */
}

.telemetry-display p,
.telemetry-display span {
    font-size: 0.9rem;
    margin: 0 !important;
    margin-bottom: -3px !important;
}

.telemetry-display:not(p) {
    padding: calc(var(--padding-small) * 0.5) !important;
    color: black;
    /* background-color: darkgrey; */
}

.begin {
    margin: 0;
    padding: 0;
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    border-left: 1px solid var(--ghost-hover);
    border-top: 1px solid var(--ghost-hover);
    border-bottom: 1px solid var(--ghost-hover);

    padding: var(--padding-small);
}

.middle {
    margin: 0;
    padding: 0;
    border-radius: 0px;
    border-left: 1px solid var(--ghost-hover);
    border-top: 1px solid var(--ghost-hover);
    border-bottom: 1px solid var(--ghost-hover);

    padding: var(--padding-small);
}

.end {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);

    border-left: 1px solid var(--ghost-hover);
    border-right: 1px solid var(--ghost-hover);
    border-top: 1px solid var(--ghost-hover);
    border-bottom: 1px solid var(--ghost-hover);

    padding: var(--padding-small);
}
