.dark-background {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 250px 250px 1fr;
    grid-template-rows: 2.5vh 20vh 15vh auto 7.5vh;
}

.header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.section-hero {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;

    padding-bottom: calc(var(--padding-beefy) * 2);
    display: flex;
    justify-self: center;
    align-self: flex-end;
}

.section-hero h1 {
    color: var(--ghost);
}

.section-login {
    background-color: var(--ghost-translucent);
    background-color: white;
    /*    margin: 1rem; */
    /*   padding: 1rem; */
    border-radius: var(--border-radius-small);

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}

/* Background image scheduling rotation css */

.background-image {
    background-color: rgb(33, 33, 33);

    z-index: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;

    opacity: 1;
    transition: 0.75s;
    object-fit: cover;

    /* height: calc(100vh - var(--padding)); */
    /* width: calc(100vw - var(--padding)); */
    /* padding: var(--padding); */
    height: 100vh;
    width: 100vw;
    border-radius: 0;

    /* border-radius: var(--border-radius-small); */
    filter: brightness(50%);
    /* filter: brightness(10%); */
}

.img1 {
    /* background-image: url('../assets/backgrounds/1.png'); */
    z-index: -2;
}

.img2 {
    /* background-image: url('../assets/backgrounds/2.png'); */
    z-index: -3;
}

.img3 {
    /* background-image: url('../assets/backgrounds/3.png'); */
    z-index: -4;
}
